<ul>
  <li><%= link_to('Mail Settings', settings_edit_mail_settings_path) %></li>
  <li><%= link_to('Harvest', settings_edit_harvest_path) %></li>
  <li><%= link_to('Confluence', settings_edit_confluence_path) %></li>
  <li><%= link_to('Google OAuth', settings_edit_google_path) %></li>
  <li><%= link_to('Application Settings', settings_edit_app_settings_path) %></li>
</ul>
